<div class="products">
  <div class="search-container">
    <form>
      <div class="form-group form-inline">
        Search:
        <input class="form-control ml-2"
               type="text"
               [formControl]="filter" />
      </div>
    </form>

    <span [style.flex]="'1'"></span>

    <div id="cart">
      <span class="p1 fa-stack fa-lg has-badge badge"
            [attr.data-count]="(cartItems$ | async)?.length"
            (click)="openCart()">
        <i class="p3 fa fa-shopping-cart fa-stack-1x xfa-inverse"></i>
      </span>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col-sm-3">#</th>
        <th scope="col-sm-5">Product Name</th>
        <th scope="col-sm-5"
            (click)="onSort('price')">Price
          <ng-container *ngIf="sortDirection === 'asc'">
            <i class="fa fa-arrow-up"></i>
          </ng-container>

          <ng-container *ngIf="sortDirection === 'desc'">
            <i class="fa fa-arrow-down"></i>
          </ng-container>
        </th>
        <th scope="col-sm-5">Quantity</th>
        <th scope="col-sm-1"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of filteredProducts; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>
          <ngb-highlight [result]="product.name"
                         [term]="filter.value"></ngb-highlight>
        </td>
        <td>{{ product.price | currency:'EUR':true }}</td>
        <td>{{ product.quantity }}</td>
        <td [ngStyle]="{'display': 'flex', 'justify-content': 'center'}">
          <button type="button"
                  class="btn btn-primary"
                  (click)="addToCart(product)">Add to cart</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
